<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/logo-app.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="static/css/animated.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='papaparse.min.js')
        }}"></script>
  </head>
  <style>
    #footer {
      background: #092c52;
      padding: 0 0 20px 0;
      color: #eee;
      font-size: 15px;
    }
    #footer .copyright {
      text-align: center;
      padding-top: 10px;
    }

    #footer .credits {
      text-align: center;
      font-size: 13px;
      color: #f1f7ff;
    }
  </style>
  <body>
    <div style="height: 300px"></div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Skripsi-4611419056</strong>. All Rights
          Reserved
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- End Footer -->
  </body>
</html>
