<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/logo-app.png" />
    <title>4611419056 | Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="static/css/animated.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'navbar.html'%}
    <br /><br />
    <br /><br />
    <br />
    <div
      id="index"
      class="container p-3 justify-content-center text-center col-8"
      style="
        border: 3px solid #081068;
        background: rgba(255, 254, 254, 0.12);
        border-radius: 30px;
        color: #1f2a9d;
        max-width: 1080px; ;
      "
    >
      <img
        src="../static/logo-unnes.png"
        alt="logo unnes"
        width="100px"
        height="125px"
      />
      <p class="p-2" style="font-size: 25px; color: #000000"><b>SKRIPSI</b></p>
      <p
        class="p-3"
        style="
          font-size: 20px;
          font-family: 'Fira Code', monospace;
          color: #09080a;
        "
      >
        Komparasi Algoritma Probabilistic Neural Network (PNN) dan k-Nearest
        Neighbor (k-NN) Untuk Klasifikasi Penyakit Diabetes
      </p>
      <br />
      <p class="p-2" style="font-size: 18px; color: #000000">
        <strong>Diah Siti Fatimah Azzahrah - 4611419056</strong>
      </p>
      <br /><br />
      <h5 style="font-size: 18px; color: #000000">
        Program Studi Teknik Informatika
      </h5>
      <h5 style="font-size: 18px; color: #000000">Jurusan Ilmu Komputer</h5>
      <h5 style="font-size: 18px; color: #000000">
        Fakultas Matematika dan Ilmu Pengetahuan Alam
      </h5>
      <h5 style="font-size: 18px; color: #000000">
        Universitas Negeri Semarang
      </h5>
    </div>

    <div class="container pt-3 mb-2">
      <div
        class="navbar navbar-expand-lg container row justify-content-between p-3"
      >
        <div class="col-6 d-flex align-items-center"></div>
      </div>
    </div>
    <div class="container p-2 pb-5">
      <div class="row d-flex justify-content-around">
        <div class="col-8 text-start">
          <h1 class="pt-2" style="font-size: 32px; color: #15015f">
            <b>Data Mining</b>
          </h1>
          <p
            class="ps-3 pt-2 fadeIn animated"
            style="
              color: #464646;
              border-left: 6px solid #18181a;
              height: auto;
              font-family: 'Fira Code', monospace;
              font-size: 18px;
            "
          >
            Data mining merupakan suatu proses dari pengumpulan dan pengolahan
            data yang memiliki tujuan untuk memperoleh informasi yang penting
            dari data yang digunakan. Metode data mining ini dapat digunakan
            pada dunia kesehatan dalam pembuatan model untuk memprediksi dan
            mengklasifikasi mengenai permasalahan kesehatan yang sedang
            dihadapi.
          </p>
        </div>
      </div>
    </div>

    <div class="container p-2 pb-5">
      <div class="row d-flex justify-content-around">
        <div class="col-8 text-end">
          <h3 id="tahukah" class="pt-4" style="color: #000000">Tahukah kamu</h3>
          <h1 class="pt-2" style="font-size: 32px; color: #15015f">
            <b>Mengenai Penyakit Diabetes?</b>
          </h1>
          <p
            class="pe-3 pt-2 fadeIn animated"
            style="
              color: #464646;
              border-right: 6px solid #18181a;
              font-family: 'Fira Code', monospace;
              font-size: 18px;
            "
          >
            Penyakit diabetes mellitus merupakan suatu gangguan metabolisme yang
            ditandai dengan adanya peningkatan kadar gula darah (glukosa darah)
            yang berkepanjangan. Diabetes disebut sebagai induk dari segala
            penyakit karena penyakit ini dapat menjadi penyebab dari banyak
            komplikasi penyakit, Diabetes menjadi salah satu permasalahan
            kesehatan utama di dunia. Sebab jumlah kasus penyakit diabetes terus
            meningkat dari tahun ke tahun.
          </p>
        </div>
      </div>
    </div>
    <br />
    <div
      id="infografis"
      class="container p-5 text-center"
      style="color: #1f2a9d"
    >
      <h1 class="pe-3 pt-2" style="font-size: 32px; color: #15015f">
        <b>Infographics</b>
      </h1>
      <img
        src="../static/IDF-diabetes.png"
        alt="IDF-2019"
        width="605px"
        height="1200px"
      />
    </div>
    <br /><br />
    <br />
    <br />

    {% include 'footer.html'%}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
